# This is a basic workflow to help you get started with Actions

name: Basic_Func_CI 

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master", "ros2" ]
  pull_request:
    branches: [ "master", "ros2" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a set of commands using the runners shell
      - name: ros2_openvino_toolkit_test
        run: |
            pwd
            sudo docker rmi $(docker image ls -aq) || true
            sudo swapoff /swapfile || true
            sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc || true
            mkdir -p ../workspace_ci
            cp -r ${GITHUB_WORKSPACE}/.ci_local_test/ros2_openvino_toolkit_test ../workspace_ci
            \cp ${GITHUB_WORKSPACE}/docker/Dockerfile ../workspace_ci/ros2_openvino_toolkit_test/Dockerfile
            cp -r ${GITHUB_WORKSPACE} ../workspace_ci/ros2_openvino_toolkit_test
            cd ../workspace_ci/ros2_openvino_toolkit_test && ./docker_run.sh
